@media (prefers-reduced-motion: no-preference) {
* {
    scroll-behavior: smooth;
}
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "PT Serif", sans-serif;
}

body {
    width: 100%;
    min-width: 250px;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #061840;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#navbar > #nav-link-list {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar > #nav-link-list > li {
    padding: 15px 0 15px 22.5px;
    font-size: 1.25rem;
    font-weight: normal;
}

.nav-link {
    color: #f5f6f7;
    text-decoration: none;
}

#navbar > #nav-link-list > li:hover {
    background-color: #173b71;
}

#navbar > header {
    font-size: 2rem;
    font-weight: bold;
    color: #fcb735;
    text-align: center;
    margin: 10px 10px 0 10px;
    padding: 0 0 10px 0;
    border-bottom: 5px solid #ffa600;
}

#main-doc {
    display: block;
    margin: 0 0 0 200px;
    width: calc(100% - 200px);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px;
    background-color: #fafeff;
}

.main-section {
    display: block;
}

.main-section:first-of-type > header {
    margin-top: -1rem;
}

.main-section:last-of-type {
    margin-bottom: 1rem;
}

.main-section > header {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 7px solid #476f95;
}

.main-section > h2:first-of-type {
    margin-top: 0;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 2rem 0 0.75rem 0;
}

p {
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

ul:not(#nav-link-list), ol {
    margin: 0;
    padding: 0;
}

ul:not(#nav-link-list) > li, ol > li {
    margin: 0.75rem 0;
    list-style-position: inside;
}

p > br {
    display: block;
    content: "";
    margin-top: 10px;
}

#JavaScript_home {
    background-color: #c0e0e4;
    padding: 20px 20px;
    margin: 25px 0 0 0;
    border-radius: 5px;
    overflow: auto;
}

#learn_button {
    margin-top: 2px;
    background-color: #11d078;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
}

#learn_button:hover {
    background-color: #09c458;
}

#learn_button > a {
    color: #f5f6f7;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

code {
    display: block;
    font-family: "Source Code Pro";
    font-size: 0.85rem;
    background-color: #fdffd6;
    margin: 10px auto;
    padding: 15px 10px;
    border-left: 5px solid #008585;
    border-radius: 5px;
    overflow: auto;
}

.instructions {
    font-family: Inconsolata;
    display: inline-block;
    color: #ef0105;
    background-color: #e9e9e9;
    margin: 0;
    padding: 0 3px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25;
}

.web_programming_languages {
    font-weight: bold;
}

#reference-link {
    font-weight: bold;
    color: #bc5090;
}

#reference-link:hover {
    font-weight: bold;
    color: #ef5511;
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
#navbar {
    flex-direction: row;
    width: 100%;
    height: 60px;
}

#navbar > header {
    flex-grow: 1;
    font-size: 1.35rem;
    margin: auto 0px;
    padding: 5px;
    border-bottom: none;
    border-right: 3px solid #ffa600;
}

#navbar > #nav-link-list {
    flex-grow: 9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 0;
}

#navbar > #nav-link-list > li {
    height: 100%;
    font-size: 1.1rem;
    margin: 0;
    padding: 17.5px 10px;
}

#main-doc {
    margin: 60px auto;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0px 15px;
}

.main-section > header {
    margin-top: 0;
    padding-top: 100px;
}

.main-section {
    margin-bottom: -60px;
}

.main-section:first-of-type > header {
    margin-top: -60px;
}

.main-section:last-of-type{
    margin-bottom: 40px;
}
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
html {
    font-size: 14px;
}

#navbar {
    flex-direction: column;
    width: 100%;
    height: 90px;
}

#navbar > header {
    font-size: 2rem;
    margin: auto 10px;
    padding: 3px;
}

#navbar > #nav-link-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 0;
}

#navbar > #nav-link-list > li {
    height: 100%;
    font-size: 1.2rem;
    margin: 0;
    padding: 10px 12.5px;
}

#main-doc {
    margin: 80px auto;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0px 15px;
}

.main-section > header {
    margin-top: 0;
    padding-top: 120px;
}

.main-section {
    margin-bottom: -60px;
}

.main-section:first-of-type > header {
    margin-top: -80px;
}

.main-section:last-of-type{
    margin-bottom: 40px;
}
}

@media only screen and (max-width: 700px) {
html {
    font-size: 14px;
}

#navbar {
    flex-direction: column;
    width: 100%;
    height: 130px;
}

#navbar > header {
    font-size: 1.8rem;
    margin: auto 10px;
    padding: 3px;
    border-bottom: none;
}

#navbar > #nav-link-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    overflow: auto;
    gap: 0;
    border: 4px solid #ffa600;
}

#navbar > #nav-link-list > li {
    height: 100%;
    font-size: 1.05rem;
    margin: 0 10px;
    padding: 8px 5px 1px 5px;
    border-bottom: 1px solid #f5f6f7;
}

#main-doc {
    margin: 130px auto;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0px 15px;
}

.main-section > header {
    margin-top: 0;
    padding-top: 150px;
}

.main-section {
    margin-bottom: -120px;
}

.main-section:first-of-type > header {
    margin-top: -130px;
}

.main-section:last-of-type{
    margin-bottom: 40px;
}
}